
*{
    margin : 0;
    padding: 0;
    text-decoration: none; /* 링크 밑줄 제거 */
}
body{
    background-color:rgba(241, 241, 241, 0.538) ;
}
header{
    display : flex;
    background-color: white;
    list-style : none; /* anchor 밑줄 없애기 */
    justify-content: space-between;
    align-items: center;
}
header h1 {
    font-size : 24px;
    color : rgb(0, 81, 0);
    padding : 20px;
}
header ul {
    display: flex;
    justify-content: flex-end;
    list-style : none;
    gap: 20px;
}
li a {
    color : rgb(85, 85, 85);
    font-weight :  bold;
}
.main{
    display : flex; 
    background-color : white;
    margin-top : 5px;
    padding : 60px;
    gap : 100px; 
}
.main img{
    width : 400px;
    height : auto;
}
.info {
    display : flex;
    flex-direction : column;
    gap : 20px;
}
.info h2{
    font-size : 28px;
    color : rgb(0, 81, 0);
    font-weight : bold;
}
.button{
    background-color : rgb(0, 81, 0);
    color : white;
    font-weight : bold;
    padding : 10px 20px;
    border : none;
    border-radius : 5px;
    width: 150px;
    margin-top : 20px;
}
.button:hover{
    background-color : rgb(34, 34, 34);
    cursor : pointer;
}
h3 {
    text-align: center;
    margin-top : 50px;
}
.features {
    display : flex;
    gap : 150px;
    justify-content: center;
    text-align: center;    
    line-height: 70px;
    padding: 50px;
    padding-bottom: 80px;
}
.features img {
    margin-top : 10px;
    width: 70px;
    height: 70px;
}
footer {  
    background-color : #000000ac;
    color: white;
    text-align: center;
    padding : 30px;
    font-size: 14px;
}